html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  }
  
h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
    text-align: center;
  }

  h4 {
    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
  }

  h5 {
    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
  }

  h3 {
    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
  }

  p,
  li {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
  
html {
    background-color: #00539f;
  }


body {
    position: relative;
    left: 250px;
    width: 800px;
    margin: 0 auto;
    background-color: orange;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
  }

h2 {
    margin: 0;
    text-align: center;
}

.tw {
  margin: 0;
  text-align: center;
  height: 40px;
  width: 40px;
}

.ins {
  margin: 0;
  text-align: center;
  height: 40px;
  width: 40px;
}

.Nova {
  margin: 0;
  text-align: center;
  height: 40px;
  width: 80px;
}

.lab {
  max-width: 100%;
  height: auto;
}

.int {
  max-width: 100%;
  height: auto;
}

.nft {
  max-width: 100%;
  height: auto;
}

.prj {
  max-width: 100%;
  height: auto;
}

.esp {
  max-width: 100%;
  height: auto;
}

.yt {
  margin: 0;
  text-align: center;
  height: 40px;
  width: 40px;
}

.gh {
  margin: 0;
  text-align: center;
  height: 40px;
  width: 40px;
}


h3 {
  margin: 0;
  text-align: center;
}

a[href^="mailto"]::before {
  content: "📧";
}

a[href^="tel"]::before {
  content: "📞 ";
}


img {
    display: block;
    margin: 0 auto;
    max-height: 50%;
    max-width: 50%;
}